{% extends 'master.twig' %}

{% block body %}
    <div id="wrapper">
        {% block sidebar %}
        {% endblock %}
        <div class="wrapper">
              {% block content %}
                 
              {% endblock %}
        </div>
    </div>
    <!-- /#wrapper -->
{% endblock %}