<div class='page-topbar '>
	<div class='logo-area'>
		<h1>
			<center>
				<span style="color: white; font-weight: bold;">OSCA</span>
			</center>
		</h1>
	</div>
	<div class='quick-area'>
		<div class='pull-left'>
			<ul class="info-menu left-links list-inline list-unstyled">
				<li class="sidebar-toggle-wrap">
					<a href="#" data-toggle="sidebar" class="sidebar_toggle"> <i class="fa fa-bars"></i> </a>
				</li>
				{% if (user.user_type == 3) %}
				<li>
					<h3><span style="color: white; font-style: italic;">{{ establishment.name }}</span></h3>
				</li>
				{% elseif (user.user_type == 2) %}
				<li>
					<h3><span style="color: white; font-style: italic;">{{ brgy.name }}</span></h3>
				</li>
				{% endif %}
			</ul>
		</div>
		<div class='pull-right'>
			<ul class="info-menu right-links list-inline list-unstyled">
				<li class="profile">
					<a href="#" data-toggle="dropdown" class="toggle"> <img src="{{assetUrl}}images/member_avatar/{{user.avatar}}" alt="user-image" class="img-circle img-inline"> <span>{{user.full_name}} </span></a>
					<ul class="dropdown-menu profile animated fadeIn">
						{#
						<li>
							<a href="#"> <i class="fa fa-wrench"></i> Settings </a>
						</li>
						<li>
							<a href="#"> <i class="fa fa-user"></i> Profile </a>
						</li>
						<li>
							<a href="#"> <i class="fa fa-info"></i> Help </a>
						</li>
						#}
						<li class="last">
							<a href="{{ urlFor('logout') }}"> <i class="fa fa-lock"></i> Logout </a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>