<!-- USER INFO - START -->
<div class="profile-info row">
	<div class="profile-image col-xs-4">
		<a href="#"> <img alt="" src="{{assetUrl}}images/member_avatar/{{ user.avatar }}" class="img-responsive img-circle"> </a>
	</div>
	<div class="profile-details col-xs-8">
		<h3><a href="ui-profile.html">{{ user.username }}</a><span class="profile-status online"></span></h3>
		<p class="profile-title">
			{{ user.email }}
		</p>
	</div>
</div>
<!-- USER INFO - END -->