{% extends 'establishment/index.twig' %}
{% block body %}

<!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - START -->
<link href="{{baseUrl}}assets/plugins/jquery-ui/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/select2/select2.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/css/jquery.dataTables.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/TableTools/css/dataTables.tableTools.min.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css" media="screen"/>
<!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - END -->

<!-- BEGIN BODY -->
<body class=" ">
	<!-- START TOPBAR -->

	<!-- HEADER VIEW -->
	{% include 'header.twig' %}

	<!-- START CONTAINER -->
	<div class="page-container row-fluid container-fluid">

		<!-- SIDEBAR VIEW -->
		{% include 'establishment/establishment_side_panel.twig' %}

		<!-- START CONTENT -->
		<section id="main-content" class=" ">
			<section class="wrapper main-wrapper row" style=''>
				<div class="col-xs-12">
					<section class="box ">
						<header class="panel_header">
							<h2 class="title pull-left" id="add-label">Product Details</h2>
						</header>
						<div class="content-body">
							<div class="row">

								{% if flash.message %}
								{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
								<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									{{ flash.message }}
								</div>
								{% endif %}

								<form method="post" action="{{ urlFor('add_products') }}" id="form-events">
									<input type="hidden" name="item_id" />

									<div class="form-group col-md-12">
										<label class="form-label" for="field-1">Item Name</label>
										<div class="controls">
											<input type="text" name="item_name" class="form-control" id="field-1" required>
										</div>
									</div>

									<div class="form-group col-md-12">
										<label class="form-label" for="field-2">Item Description</label>
										<div class="controls">
											<input type="text" name="item_description" class="form-control" id="field-2" required>
										</div>
									</div>

									<div class="form-group col-md-12">
										<label class="form-label" for="field-3">Price</label>
										<div class="controls">
											<input type="number" min="1" value="1" name="srp" class="form-control" id="field-3" required>
										</div>
									</div>

									{% if (establishment.is_pharmacy == 0) %}
									<div class="form-group col-md-12">
										<label class="form-label" for="field-4">Type Of Commodities</label>
										<div class="controls">
											<select class="form-control" name="item_type" required>
												<option value="1">Prime Commodities</option>
												<option value="1">Basic Commodities</option>
												<option value="3">Others</option>
											</select>
										</div>
									</div>
									{% else %}
									<input type="hidden" name="item_type" value="2" />
									{% endif %}

									<div class="form-group col-md-12">
										<label class="form-label" for="btn-save"></label>
										<div class="controls">
											<button type="submit" class="btn btn-success">
												Save
											</button>
											<button type="button" class="btn btn-default" onclick="cancelProducts()" id="btn-cancel">
												Cancel
											</button>
										</div>
									</div>
								</form>

							</div>
						</div>
					</section>
				</div>

				<div class="col-xs-12">
					<section class="box ">
						<header class="panel_header">
							<h2 class="title pull-left">List of Products</h2>
						</header>
						<div class="content-body">
							<table id="tbl-products" class="display table table-hover table-condensed">
								<thead>
									<tr>
										<th>#</th>
										<th>Ref. Code</th>
										<th>Item Name</th>
										<th>Item Description</th>
										<th>SRP</th>
										{% if (establishment.is_pharmacy == 0) %}
										<th>Type</th>
										{% endif %}
										<th>Date/Time</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									{% for product in products %}
									{% set item_type = (product.item_type == 1) ? "Prime Commodities" : ((product.item_type == 2) ? "Basic Commodities" : "Others") %}
									<tr>
										<td>{{ product.id }}</td>
										<td>{{ product.ref_code }}</td>
										<td>{{ product.item_name }}</td>
										<td>{{ product.item_description }}</td>
										<td>{{ product.srp|number_format(2, '.', ',') }}</td>
										{% if (establishment.is_pharmacy == 0) %}
										<td>{{ item_type }}</td>
										{% endif %}
										<td>{{ product.created_at|date("M d, Y") }}</td>
										<td>
											<div align="center">
												<button type="button" onclick="editProducts({{ product }})" class="btn btn-success btn-xs">
													Edit
												</button>
												{#
												<button type="button" class="btn btn-danger btn-xs">
													Delete
												</button>
												#}
											</div>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
							<!-- ********************************************** -->
						</div>
					</section>
				</div>

			</section>
		</section>
	</div>
</body>

<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
<script src="{{baseUrl}}assets/plugins/jquery-ui/smoothness/jquery-ui.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/select2/select2.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

<script>
	$(document).ready(function() {
		$("#tbl-products").dataTable();
	}); 
	
	function editProducts(product) {
		$("input[name=item_id]").val(product.id);
		$("input[name=item_name]").val(product.item_name);
		$("input[name=item_description]").val(product.item_description);
		$("input[name=srp]").val(product.srp);
		$("[name=item_type]").val(product.item_type);
	}
	
	function cancelProducts() {
		$("input[name=item_id]").val(null);
		$("input[name=item_name]").val(null);
		$("input[name=item_description]").val(null);
		$("input[name=srp]").val(null);
		$("[name=item_type]").val(1);
	}
</script>

{% endblock %}