{% extends 'staff/index.twig' %}
{% block body %}

<!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - START -->
<link href="{{baseUrl}}assets/plugins/jquery-ui/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/select2/select2.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/css/jquery.dataTables.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/TableTools/css/dataTables.tableTools.min.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/icheck/skins/all.css" rel="stylesheet" type="text/css" media="screen"/>
<!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - END -->

<!-- BEGIN BODY -->
<body class=" ">
	<!-- START TOPBAR -->

	<!-- HEADER VIEW -->
	{% include 'header.twig' %}

	<!-- START CONTAINER -->
	<div class="page-container row-fluid container-fluid">

		<!-- SIDEBAR VIEW -->
		{% include 'staff/staff_side_panel.twig' %}

		<!-- START CONTENT -->
		<section id="main-content" class=" ">
			<section class="wrapper main-wrapper row" style=''>

				<div class="col-lg-12">
					<section class="box ">
						<header class="panel_header">
							<h2 class="title pull-left">{{ title }}</h2>
						</header>
						<div class="content-body">

							{% if flash.message %}
							{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
							<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								{{ flash.message }}
							</div>
							{% endif %}

							<a href="/staff/contribution"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
							<h3>{{ member.first_name ~ " " ~ member.middle_name ~ " " ~ member.last_name }}</h3>
							<h4><strong style="font-style: italic;">{{ member.rf_id }}</strong></h4>

							<section class="box ">
								<div class="content-body">
									<div class="row">
										<div class="col-xs-4">
											<form method="post" action="{{ urlFor('contribution_member_add') }}" id="form-add-contribution">
												<input type="hidden" name="contribution_id"/>
												<input type="hidden" name="sc_id" value="{{ member.id }}" />
												<input type="hidden" name="barangay_id" value="{{ member.barangay_id }}" />

												<div class="form-group">
													<label class="form-label">Select Month</label>
													<div class="controls">
														<select name="month" class="form-control">
															{% for month in months %}
															{% set sel = (month_now == month.month_label) ? "selected" : "" %}
															<option {{sel}} value="{{ month.month }}">{{ month.month_label }}</option>
															{% endfor %}
														</select>
													</div>
													<div class="controls">
														<label class="form-label">Upto</label>
														<select name="upto_month" class="form-control"></select>
													</div>
												</div>

												<div class="form-group">
													<label class="form-label" for="field-1s">Monthly Contribution Amount of ₱ 30.00</label>
													<div class="controls">
														<input type="hidden" name="amount" />
														<input type="text" name="amount_label" class="form-control" id="field-1s" value="0" disabled="">
													</div>
													<div class="controls">
														<a href="#confirm-modal" data-toggle="modal" class="btn btn-success btn-md">Save Contribution</a>
													</div>
												</div>

											</form>
										</div>

										<div class="col-xs-12">
											<section class="box ">
												<header class="panel_header">
													<h2 class="title pull-left">Contributions</h2>
													<a href="/staff/contribution/print/receipt/{{ member.id }}" target="_blank" class="btn btn-warning btn-sm pull-right"> Print Receipt </a>
												</header>
												<div class="content-body">
													<table id="tbl-contributions" class="display table table-hover table-condensed">
														<thead>
															<tr>
																<th>#</th>
																<th>Ref. Code</th>
																<th>Amount</th>
																<th>Date</th>
																{#
																<th>Action</th>
																#}
															</tr>
														</thead>
														<tbody>
															{% set total_contribution = 0 %}
															{% for contribution in contributions %}
															<tr>
																<td>{{ contribution.id }}</td>
																<td>{{ contribution.trans_code }}</td>
																<td>₱ {{ contribution.amount|number_format(2, '.', ',') }}</td>
																<td>{{ contribution.created_at|date("F Y") }}</td>
																{#
																<td>
																<div align="center">
																	<button type="button" onclick="editContribution({{ contribution }})" class="btn btn-success btn-xs">
																		Edit
																	</button>
																	<button type="button" onclick="onDeleteContribution({{ contribution }})" class="btn btn-danger btn-xs">
																		Delete
																	</button>
																	<a href="/staff/contribution/print_receipt/{{ contribution.id }}" target="_blank" class="btn btn-warning btn-xs"> Print Receipt </a>
																	
																</div></td>
																#}
															</tr>
															{% set total_contribution = total_contribution + contribution.amount %}
															{% endfor %}
														</tbody>
														<tfoot>
															<tr>
																<th>Total</th>
																<td></td>
																<th>₱ {{ total_contribution|number_format(2, '.', ',') }}</th>
																<td></td>
																{#
																<td></td>
																#}
															</tr>
														</tfoot>
													</table>
												</div>
											</section>
										</div>

									</div>
								</div>
							</section>
						</div>
					</section>
				</div>

			</section>
		</section>
	</div>
</body>

<!-- modal start -->
<div class="modal fade col-xs-12" id="confirm-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title">{{ title|raw }}</h4>
			</div>
			<div class="modal-body">

				Are you sure do you want to submit this transaction record?

			</div>
			<div class="modal-footer">
				<button data-dismiss="modal" class="btn btn-default" type="button">
					Close
				</button>
				<button class="btn btn-warning" type="button" onclick="onSubmitTransaction()">
					Confirm
				</button>
			</div>
		</div>
	</div>
</div>
<!-- modal end -->

<!-- modal start -->
<div class="modal fade col-xs-12" id="confirm--delete-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title">{{ title|raw }}</h4>
			</div>
			<div class="modal-body">

				Are you sure do you want to delete this record?

			</div>
			<div class="modal-footer">
				<form method="post" action="{{ urlFor('contribution_member_delete') }}">
					<input type="hidden" name="del_contribution_id" />
					<input type="hidden" name="sc_id" value="{{ member.id }}" />
					<button data-dismiss="modal" class="btn btn-default" type="button">
						Close
					</button>
					<button class="btn btn-warning" type="submit">
						Yes, I want to delete.
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- modal end -->

<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
<script src="{{baseUrl}}assets/plugins/jquery-ui/smoothness/jquery-ui.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/select2/select2.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/calendar/moment.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

<script>
	$("#tbl-contributions").dataTable();

	$("[name=month]").on("change", function() {
		$("[name=upto_month]").empty();
		var curr_value = this.value;
		var months = atob('{{ str_months }}');
		months = JSON.parse(months);

		var a = 0;
		months.forEach(function(item, index) {
			if (item.month == curr_value) {
				a = index;
			}
		});
		var b = (months.length - 1) - a;
		var c = months.length - b;
		var d_index = c - 1;
		months.splice(0, d_index);
		months.forEach(function(item, index) {
			$("[name=upto_month]").append($("<option value=" + item.month + ">" + item.month_label + "</option>"));
		});
		updateContributionAmount();
	}).change();
	
	$("[name=upto_month]").on("change", function(){
		updateContributionAmount();
	}).change();
	
	function updateContributionAmount() {
		var from_month = $("[name=month]").val();
		var to_month = $("[name=upto_month]").val();
		var diff = (to_month - from_month) + 1;
		var total_amount = diff * 30;
		
		$("input[name=amount]").val(total_amount);
		$("input[name=amount_label]").val(total_amount);
	}

	function onSubmitTransaction() {
		$("#form-add-contribution").submit();
	}

	function editContribution(contribution) {
		$("input[name=contribution_id]").val(contribution.id);
		$("input[name=amount]").val(contribution.amount);

		var payment_date = moment(contribution.created_at).format('M');
		$("[name=month]").val(payment_date);
	}

	function onDeleteContribution(contribution) {
		$("input[name=del_contribution_id]").val(contribution.id);
		$("#confirm--delete-modal").modal("show");
	}
</script>

{% endblock %}