{% extends 'admin/index.twig' %}
{% block body %}

<!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - START -->
<link href="{{baseUrl}}assets/plugins/jquery-ui/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/select2/select2.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/css/jquery.dataTables.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/TableTools/css/dataTables.tableTools.min.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/icheck/skins/all.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/jquery-ui/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/jvectormap/jquery-jvectormap-2.0.1.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/icheck/skins/minimal/white.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/morris-chart/css/morris.css" rel="stylesheet" type="text/css" media="screen"/>
<!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - END -->

<!-- BEGIN BODY -->
<body class=" ">
	<!-- START TOPBAR -->

	<!-- HEADER VIEW -->
	{% include 'header.twig' %}

	<!-- START CONTAINER -->
	<div class="page-container row-fluid container-fluid">

		<!-- SIDEBAR VIEW -->
		{% include 'admin/admin_side_panel.twig' %}

		<!-- START CONTENT -->
		<section id="main-content" class=" ">
			<section class="wrapper main-wrapper row" style=''>
				<div class="col-lg-12">
					<section class="box ">
						<header class="panel_header">
							<h2 class="title pull-left">{{ title }}</h2>
						</header>
						<div class="content-body">
							<div class="row">
								
								<div class="col-xs-12">
									<div class="form-group col-md-6">
										<label class="form-label">Select Year</label>
										<select class="form-control" name="year" required>
											{% for year in years %}
											<option value="{{ year.year }}">{{ year.year }}</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="col-xs-12">
									<div id="line-chartjs"></div>
									<div id="legendDiv-main" class="chart-legend"></div>
								</div>
								

								<div class="col-xs-12">
									<div class="form-group col-md-6">
										<label class="form-label" for="s2example-1">Select Barangay</label>
										<select class="" id="s2example-1" name="barangay" required>
											<option></option>
											{% for town in towns %}
											<optgroup label="{{ town.name }}">
												{% for brgy in town.barangays %}
												<option value="{{ brgy.id }}">{{ brgy.name }}</option>
												{% endfor %}
											</optgroup>
											{% endfor %}
										</select>
									</div>
								</div>

								<div class="col-xs-12">
									<div id="line-chartjs-yearly-line"></div>
									<canvas id="line-chartjs-yearly" height="200" width="600"></canvas>
									<div id="legendDiv" class="chart-legend"></div>
								</div>

							</div>
						</div>
					</section>
				</div>

			</section>
		</section>
	</div>
</body>

<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
<script src="{{baseUrl}}assets/plugins/jquery-ui/smoothness/jquery-ui.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/select2/select2.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/chartjs-chart/Chart.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/morris-chart/js/raphael-min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/morris-chart/js/morris.min.js" type="text/javascript"></script>
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

<script>
	$(document).ready(function() {
		$("#s2example-1").select2({
			placeholder : 'Choose Barangay...',
			allowClear : true
		}).on('select2-open', function() {
			// Adding Custom Scrollbar
			$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
		}).on('change', function() {
			var year = $("[name=year]").val();
			getMortalityRate(this.value, year);
			getMortalityRatePerYear(this.value);
		});

		$("[name=year]").on("change", function() {
			var barangay_id = $("#s2example-1").val();
			getMortalityRate(barangay_id, this.value);
		}).change();

		function getMortalityRate(barangay_id, year) {
			var url = "/admin/mortality/yearly/" + year;
			$.get(url, function(response) {
				loadMortalityGraph(response);
			}).fail(function(error) {
				console.log("error", error);
			});
		}

		function getMortalityRatePerYear(barangay_id) {
			var url = "/admin/mortality/year/" + barangay_id;
			console.log(url);
			$.get(url, function(response) {
				loadMortalityGraphYearly(response);
			}).fail(function(error) {
				console.log("error", error);
			});
		}

		function loadMortalityGraphYearly(data) {
			var total = [];
			var deceased = [];
			var year = [];

			if (data !== null) {
				data = JSON.parse(data);
				data.forEach(function(item, index) {
					year.push(item.year);
					total.push(item.total_count);
					deceased.push(item.deceased_count);
				});
			}

			var lineChartData = {
				labels : year,
				datasets : [{
					label : "Alive",
					fillColor : "rgba(152, 226, 66,0.5)",
					strokeColor : "rgba(152, 226, 66,1)",
					pointColor : "rgba(152, 226, 66,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(152, 226, 66,1)",
					data : total
				}, {
					label : "Deceased",
					fillColor : "rgba(191, 7, 70, 0.5)",
					strokeColor : "rgb(191, 7, 70, 1)",
					pointColor : "rgba(191, 7, 70, 1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(191, 7, 70, 1)",
					data : deceased
				}]

			};

			var ctx = document.getElementById("line-chartjs-yearly").getContext("2d");
			var myLine = new Chart(ctx).Bar(lineChartData, {
				responsive : true,
				options : {
					legendTemplate : '<ul>' + '<% for (var i=0; i<datasets.length; i++) { %>' + '<li>' + '<span></span>' + '<% if (datasets[i].label) { %><%= datasets[i].label %><% } %>' + '</li>' + '<% } %>' + '</ul>'
				}
			});
			myLine.destroy();
			$("#legendDiv").empty();
			$("#legendDiv").html(myLine.generateLegend());

			$("#line-chartjs-yearly-line").empty();
			Morris.Line({
				element : 'line-chartjs-yearly-line',
				data : data,
				parseTime : false,
				resize : true,
				xkey : 'year',
				ykeys : ['total_count', 'deceased_count'],
				labels : ['Alive', 'Deceased'],
				lineColors : ['rgba(152, 226, 66,1)', '#FF0000'],
				pointFillColors : ['rgba(152, 226, 66,1)', '#FF0000']
			});
		}

		function loadMortalityGraph(data) {
			if (data !== null) {
				data = JSON.parse(data);
				$("#line-chartjs").empty();
				Morris.Line({
					element : 'line-chartjs',
					data : data,
					parseTime : false,
					resize : true,
					xkey : 'name',
					ykeys : ['total_count', 'deceased_count'],
					labels : ['Alive', 'Deceased'],
					lineColors : ['rgba(152, 226, 66,1)', '#FF0000'],
					pointFillColors : ['rgba(152, 226, 66,1)', '#FF0000']
				});
				addLegend();
			}
		}

		function addLegend() {
			$("#legendDiv-main").empty();

			var legend = "<ul>";

			legend += "<li>";
			legend += "<span style='background: rgba(152, 226, 66,1);'></span>";
			legend += "Alive";
			legend += "</li>";

			legend += "<li>";
			legend += "<span style='background: #FF0000;'></span>";
			legend += "Deceased";
			legend += "</li>";

			legend += "</ul>";

			$("#legendDiv-main").append($(legend));
		}

	}); 
</script>

{% endblock %}