{% extends 'admin/index.twig' %}
{% block body %}

<!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - START -->
<link href="{{baseUrl}}assets/plugins/jquery-ui/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/select2/select2.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/css/jquery.dataTables.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/TableTools/css/dataTables.tableTools.min.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css" media="screen"/>
<!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - END -->

<!-- BEGIN BODY -->
<body class=" ">
	<!-- START TOPBAR -->

	<!-- HEADER VIEW -->
	{% include 'header.twig' %}

	<!-- START CONTAINER -->
	<div class="page-container row-fluid container-fluid">

		<!-- SIDEBAR VIEW -->
		{% include 'admin/admin_side_panel.twig' %}

		<!-- START CONTENT -->
		<section id="main-content" class=" ">
			<section class="wrapper main-wrapper row" style=''>
				<div class='col-xs-12'>
					<div class="page-title">
						<div class="pull-left">
							<!-- PAGE HEADING TAG - START --><h1 class="title">{{ title }}</h1><!-- PAGE HEADING TAG - END -->
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<!-- MAIN CONTENT AREA STARTS -->

				<div class="col-xs-12">
					<section class="box ">
						<header class="panel_header">
							<h2 class="title pull-left" id="add-label">Add New Barangay</h2>
						</header>
						<div class="content-body">
							<div class="row">

								{% if flash.message %}
								{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
								<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									{{ flash.message }}
								</div>
								{% endif %}

								<form method="post" action="{{ urlFor('add_brgy') }}">
									<input type="hidden" name="brgy_id" />
									<div class="row col-md-12">
										<div class="form-group col-md-8">
											<label class="form-label" for="s2example-1">Select Town</label>
											<select class="" id="s2example-1" name="town" required>
												<option></option>
												{% for town in towns %}
												<option value="{{ town.id }}">{{ town.name }}</option>
												{% endfor %}
											</select>
										</div>
										<div class="form-group col-md-4">
											<label class="form-label"></label>
											<div class="controls">
												<button type="button" class="btn btn-primary" data-toggle="modal" href="#add-town-modal">
													Add New Town
												</button>
											</div>
										</div>
									</div>

									<div class="form-group col-md-12">
										<label class="form-label" for="field-1">Barangay Name</label>
										<span class="desc">e.g. "Poblacion"</span>
										<div class="controls">
											<input type="text" name="brgy_name" class="form-control" id="field-1" required>
										</div>
									</div>

									<div class="form-group col-md-12">
										<label class="form-label" for="btn-save"></label>
										<div class="controls">
											<button type="submit" class="btn btn-primary" id="btn-save">
												Save
											</button>
											<button type="button" onclick="clearFields()" class="btn btn-default" id="btn-cancel">
												Cancel
											</button>
										</div>
									</div>
								</form>

							</div>
						</div>
					</section>
				</div>

				<div class="col-xs-12">
					<section class="box ">
						<header class="panel_header">
							<h2 class="title pull-left">List of Barangay</h2>
						</header>
						<div class="content-body">
							<table id="tbl-barangay" class="display table table-hover table-condensed">
								<thead>
									<tr>
										<th>#</th>
										<th>Brgy Name</th>
										<th>Town</th>
										<th>CREATED_AT</th>
										<th>ACTION</th>
									</tr>
								</thead>
								<tbody>
									{% for barangay in barangays %}
									<tr>
										<td>{{ barangay.id }}</td>
										<td>{{ barangay.brgy_name }}</td>
										<td>{{ barangay.town_name }}</td>
										<td>{{ barangay.created_at|date("M d, Y") }}</td>
										<td>
										<div align="center">
											<button type="button" onclick="editBarangay({{ barangay }})" class="btn btn-success btn-xs">
												Edit
											</button>
											<button type="button" class="btn btn-danger btn-xs">
												Delete
											</button>
										</div></td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
							<!-- ********************************************** -->
						</div>
					</section>
				</div>

			</section>
		</section>
	</div>
</body>

<!-- modal start -->
<div class="modal fade col-xs-12" id="add-town-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title">Add Town</h4>
			</div>
			<form method="post" action="{{ urlFor('add_town') }}">
				<div class="modal-body">

					<div class="form-group">
						<label class="form-label" for="field-1s">Town Name</label>
						<span class="desc">e.g. "Balanga City"</span>
						<div class="controls">
							<input type="text" name="town_name" class="form-control" id="field-1s" required>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button data-dismiss="modal" class="btn btn-default" type="button">
						Close
					</button>
					<button class="btn btn-success" type="submit">
						Submit
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- modal end -->

<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
<script src="{{baseUrl}}assets/plugins/jquery-ui/smoothness/jquery-ui.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/select2/select2.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

<!-- CORE TEMPLATE JS - START -->
<script src="{{baseUrl}}assets/js/scripts.js" type="text/javascript"></script>
<!-- END CORE TEMPLATE JS - END -->

<script>
	$(document).ready(function() {
		$("#tbl-barangay").dataTable({
			responsive : true,
			aLengthMenu : [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]]
		});
	});

	function editBarangay(data) {
		$("#add-label").text("EDIT BARANGAY");
		$("input[name=brgy_id]").val(data.id);
		$("input[name=brgy_name]").val(data.brgy_name);
		$("#s2example-1").select2("val", data.town_id);
	}

	function clearFields() {
		$("#add-label").text("ADD NEW BARANGAY");
		$("input[name=brgy_id]").val(null);
		$("input[name=brgy_name]").val(null);
		$("#s2example-1").select2("val", null);
	}
</script>

{% endblock %}