{% extends 'admin/index.twig' %}
{% block body %}

<!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - START -->
<link href="{{baseUrl}}assets/plugins/jquery-ui/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/select2/select2.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/css/jquery.dataTables.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/TableTools/css/dataTables.tableTools.min.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css" media="screen"/>
<!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - END -->

<!-- BEGIN BODY -->
<body class=" ">
	<!-- START TOPBAR -->

	<!-- HEADER VIEW -->
	{% include 'header.twig' %}

	<!-- START CONTAINER -->
	<div class="page-container row-fluid container-fluid">

		<!-- SIDEBAR VIEW -->
		{% include 'admin/admin_side_panel.twig' %}

		<!-- START CONTENT -->
		<section id="main-content" class=" ">
			<section class="wrapper main-wrapper row" style=''>
				<div class='col-xs-12'>
					<div class="page-title">
						<div class="pull-left">
							<!-- PAGE HEADING TAG - START --><h1 class="title">{{ title }}</h1><!-- PAGE HEADING TAG - END -->
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<!-- MAIN CONTENT AREA STARTS -->

				<div class="col-xs-12">
					<section class="box ">
						<header class="panel_header">
							<h2 class="title pull-left" id="add-label">Add New Establishment</h2>
						</header>
						<div class="content-body">
							<div class="row">

								{% if flash.message %}
								{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
								<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									{{ flash.message }}
								</div>
								{% endif %}

								<form method="post" action="{{ urlFor('add_establishment') }}">
									<input type="hidden" name="establishment_id" />
									<div class="form-group col-md-6">
										<label class="form-label" for="field-1">Establishment Name</label>
										<span class="desc">e.g. "Mercury drug"</span>
										<div class="controls">
											<input type="text" name="establishment_name" class="form-control" id="field-1" required>
										</div>
									</div>

									<div class="form-group col-md-6">
										<label class="form-label" for="field-2">Establishment Description</label>
										<span class="desc">e.g. "Drug Store"</span>
										<div class="controls">
											<input type="text" name="establishment_desc" class="form-control" id="field-2" required>
										</div>
									</div>
									
									<div class="form-group col-md-6">
										<label class="form-label" for="field-3">Establishment Address</label>
										<span class="desc">e.g. "Balanga City Bataan"</span>
										<div class="controls">
											<input type="text" name="establishment_address" class="form-control" id="field-3" required>
										</div>
									</div>

									<div class="form-group col-md-6">
										<label class="form-label" for="btn-save"></label>
										<div class="controls">
											<button type="submit" class="btn btn-primary" id="btn-save">
												Save
											</button>
											<button type="button" onclick="clearFields()" class="btn btn-default" id="btn-cancel">
												Cancel
											</button>
										</div>
									</div>
								</form>

							</div>
						</div>
					</section>
				</div>

				<div class="col-xs-12">
					<section class="box ">
						<header class="panel_header">
							<h2 class="title pull-left">List of Establishments</h2>
						</header>
						<div class="content-body">
							<table id="tbl-establishment" class="display table table-hover table-condensed">
								<thead>
									<tr>
										<th>#</th>
										<th>Name</th>
										<th>Description</th>
										<th>Address</th>
										<th>CREATED_AT</th>
										<th>ACTION</th>
									</tr>
								</thead>
								<tbody>
									{% for establishment in establishments %}
									<tr>
										<td>{{ establishment.id }}</td>
										<td>{{ establishment.name }}</td>
										<td>{{ establishment.description }}</td>
										<td>{{ establishment.address }}</td>
										<td>{{ establishment.created_at|date("M d, Y") }}</td>
										<td>
										<div align="center">
											<button type="button" onclick="editEstablishment({{ establishment }})" class="btn btn-success btn-xs">
												Edit
											</button>
											<button type="button" class="btn btn-danger btn-xs">
												Delete
											</button>
										</div></td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
							<!-- ********************************************** -->
						</div>
					</section>
				</div>

			</section>
		</section>
	</div>
</body>

<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
<script src="{{baseUrl}}assets/plugins/jquery-ui/smoothness/jquery-ui.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/select2/select2.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

<!-- CORE TEMPLATE JS - START -->
<script src="{{baseUrl}}assets/js/scripts.js" type="text/javascript"></script>
<!-- END CORE TEMPLATE JS - END -->

<script>
	$(document).ready(function() {
		$("#tbl-establishment").dataTable({
			responsive : true,
			aLengthMenu : [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]]
		});
	});

	function editEstablishment(data) {
		$("#add-label").text("EDIT ESTABLISHMENT");
		$("input[name=establishment_id]").val(data.id);
		$("input[name=establishment_name]").val(data.name);
		$("input[name=establishment_desc]").val(data.description);
		$("input[name=establishment_address]").val(data.address);
	}

	function clearFields() {
		$("#add-label").text("ADD NEW ESTABLISHMENT");
		$("input[name=establishment_id]").val(null);
		$("input[name=establishment_name]").val(null);
		$("input[name=establishment_desc]").val(null);
		$("input[name=establishment_address]").val(null);
	}
</script>

{% endblock %}