{% extends 'staff/index.twig' %}
{% block body %}

<!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - START -->
<link href="{{baseUrl}}assets/plugins/jquery-ui/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/select2/select2.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/calendar/fullcalendar.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/icheck/skins/minimal/minimal.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/bootstrap3-wysihtml5/css/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/summernote/css/summernote/summernote-bs3.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/summernote/css/summernote/summernote.css" rel="stylesheet" type="text/css" media="screen"/>
<!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - END -->

<!-- BEGIN BODY -->
<body class=" ">
	<!-- START TOPBAR -->

	<!-- HEADER VIEW -->
	{% include 'header.twig' %}

	<!-- START CONTAINER -->
	<div class="page-container row-fluid container-fluid">

		<!-- SIDEBAR VIEW -->
		{% include 'staff/staff_side_panel.twig' %}

		<!-- START CONTENT -->
		<section id="main-content" class=" ">
			<section class="wrapper main-wrapper row" style=''>
				<div class='col-xs-12'>
					<div class="page-title">
						<div class="pull-left">
							<!-- PAGE HEADING TAG - START --><h1 class="title">{{ title }}</h1><!-- PAGE HEADING TAG - END -->
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<!-- MAIN CONTENT AREA STARTS -->

				<div class="col-xs-12">
					<section class="box ">
						<header class="panel_header">
							<h2 class="title pull-left" id="add-label">Event Details</h2>
						</header>
						<div class="content-body">
							<div class="row">

								{% if flash.message %}
								{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
								<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									{{ flash.message }}
								</div>
								{% endif %}

								<form method="post" action="{{ urlFor('staff_add_event') }}" id="form-events">
									<input type="hidden" name="event_id" />
									<input type="hidden" name="barangay" value="{{ barangay.id }}" />

									{#
									<div class="form-group col-md-12">
										<label class="form-label" for="select2-brgy">Select Barangay</label>
										<select class="" id="select2-brgy" name="barangay" required>
											<option></option>
											{% for town in towns %}
											<optgroup label="{{ town.name }}">
												{% for brgy in town.barangays %}
												<option value="{{ brgy.id }}">{{ brgy.name }}</option>
												{% endfor %}
											</optgroup>
											{% endfor %}
										</select>
									</div>
									#}

									<div class="form-group col-md-12">
										<label class="form-label" for="field-1">Event Tile</label>
										<span class="desc">e.g. "Grand Reunion"</span>
										<div class="controls">
											<input type="text" name="title" class="form-control" id="field-1" required>
										</div>
									</div>

									<div class="form-group col-md-12">
										<label class="form-label" for="field-1">Event Content</label>
										<div class="controls">
											<textarea name="content" id="events-content" class='summernote' required>Enter Here...</textarea>
										</div>
									</div>

									<div class="form-group col-md-6">
										<div class="row">
											<div class="col-md-6">
												<label class="form-label" for="field-2">Budget</label>
												<span class="desc">e.g. "Budget"</span>
												<div class="controls">
													<input type="number" min="1" step="0.1" value="1" name="budget" class="form-control" id="field-2" required>
												</div>
											</div>
											<div class="col-md-6">
												<label class="form-label" for="field-2s">Event Color</label>
												<span class="desc">e.g. "#00000"</span>
												<div class="controls">
													<input type="color" value="#4C90B1" name="event_color" class="form-control" id="field-2s" required>
												</div>
											</div>
										</div>
									</div>

									<div class="form-group col-md-6">
										<div class="row">
											<div class="col-md-6">
												<label class="form-label">Notification Date</label>
												<div class="controls">
													<input type="date" name="notif_date" class="form-control" required>
												</div>
											</div>
											<div class="col-md-6">
												<label class="form-label">Notification Time</label>
												<div class="controls">
													<input type="time" name="notif_time" class="form-control" required>
												</div>
											</div>
										</div>
									</div>

									<div class="form-group col-md-6">
										<div class="row">
											<div class="col-md-6">
												<label class="form-label">Event Start Date</label>
												<div class="controls">
													<input type="date" name="start_date" class="form-control" required>
												</div>
											</div>
											<div class="col-md-6">
												<label class="form-label">Event Start Time</label>
												<div class="controls">
													<input type="time" name="start_time" class="form-control" required>
												</div>
											</div>
										</div>
									</div>

									<div class="form-group col-md-6">
										<div class="row">
											<div class="col-md-6">
												<label class="form-label">Event End Date</label>
												<div class="controls">
													<input type="date" name="end_date" class="form-control" required>
												</div>
											</div>
											<div class="col-md-6">
												<label class="form-label">Event End Time</label>
												<div class="controls">
													<input type="time" name="end_time" class="form-control" required>
												</div>
											</div>
										</div>
									</div>

									<div class="form-group col-md-12">
										<label class="form-label" for="btn-save"></label>
										<div class="controls">
											<button type="submit" class="btn btn-success">
												Save
											</button>
											<button type="button" onclick="resetFields()" class="btn btn-default" id="btn-cancel">
												Cancel
											</button>
										</div>
									</div>
								</form>

							</div>
						</div>
					</section>
				</div>

				<div class="col-xs-12">

					<section class="box nobox ">
						<div class="content-body">
							<div class="row">
								<div id='calendar-events' class="col-xs-12 col-md-12"></div>
							</div>
						</div>
					</section>

				</div>
			</section>
		</section>
	</div>
</body>

<!-- modal start -->
<div class="modal fade col-xs-12" id="preview-event" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="modal-event-title"></h4>
			</div>
			<div class="modal-body">

				<div class="form-group">
					<span><strong>When:</strong></span>&nbsp;<h3><span id="modal-event-date"></span></h3>
				</div>

				<div class="form-group">
					<span><strong>Budget:</strong></span>&nbsp;<h3><span id="modal-event-budget"></span></h3>
				</div>

				<div id="modal-event-content" class="form-group"></div>

			</div>
			<div class="modal-footer">
				<button class="btn btn-success" type="button" id="btn-edit-event">
					Edit Event
				</button>
				<button class="btn btn-danger" type="button" id="btn-delete-event">
					Delete Event
				</button>
				<button data-dismiss="modal" class="btn btn-default" type="button">
					Close
				</button>
			</div>
		</div>
	</div>
</div>
<!-- modal end -->

<!-- modal start -->
<div class="modal fade col-xs-12" id="delete-event-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="modal-event-title-del"></h4>
			</div>
			<div class="modal-body">

				<h3>Are you sure do you want to delete this event?</h3>

			</div>
			<div class="modal-footer">
				<form method="post" action="{{ urlFor('staff_delete_event') }}">
					<input type="hidden" name="event_id_del" />
					<button class="btn btn-warning" type="submit">
						Yes, I want to delete
					</button>
					<button data-dismiss="modal" class="btn btn-default" type="button">
						Close
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- modal end -->

<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
<script src="{{baseUrl}}assets/plugins/jquery-ui/smoothness/jquery-ui.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/select2/select2.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/calendar/moment.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/jquery-ui/smoothness/jquery-ui.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/calendar/fullcalendar.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/icheck/icheck.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/summernote/js/summernote/summernote.min.js" type="text/javascript"></script>
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

<script>
	$("#select2-brgy").select2();
	$('#events-content').summernote({
		toolbar : [['fontsize', ['fontsize', 'bold', 'italic', 'underline', 'clear']], ['color', ['color']], ['para', ['ul', 'ol', 'paragraph']], ['height', ['height']]], // set editor height
		minHeight : 150,
		fontSize : 16
	});
	// $("#events-content").summernote('code', '');

	/*--------------------------------
	 Full Calendar
	 --------------------------------*/
	if ($.isFunction($.fn.fullCalendar)) {

		/* initialize the calendar
		 -----------------------------------------------------------------*/
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();

		$.get("/staff/events/show/all", function(response) {
			var data = JSON.parse(response);
			var events = [];
			data.forEach(function(item, index) {
				var a = {
					details : item,
					title : item.title,
					start : $.fullCalendar.moment(item.event_start),
					end : $.fullCalendar.moment(item.event_end),
					color : item.event_color
				};
				events.push(a);
			});
			console.log(events);
			setCalendarEvents(events);
		}).fail(function(error) {
			console.log("error", error);
		});

		function setCalendarEvents(_events) {
			$('#calendar-events').fullCalendar({
				header : {
					left : 'prev,next today',
					center : 'title',
					right : 'month,basicWeek,basicDay'
				},
				editable : false,
				eventLimit : true, // allow "more" link when too many events
				droppable : false, // this allows things to be dropped onto the calendar !!!
				drop : function(date, allDay) {// this function is called when something is dropped

					// retrieve the dropped element's stored Event Object
					var originalEventObject = $(this).data('eventObject');

					// we need to copy it, so that multiple events don't have a reference to the same object
					var copiedEventObject = $.extend({}, originalEventObject);

					// assign it the date that was reported
					copiedEventObject.start = date;
					copiedEventObject.allDay = allDay;

					// render the event on the calendar
					// the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
					$('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

					// is the "remove after drop" checkbox checked?
					if ($('#drop-remove').is(':checked')) {
						// if so, remove the element from the "Draggable Events" list
						$(this).remove();
					}

				},
				events : _events,
				eventClick : function(calEvent, jsEvent, view) {
					// alert('Event: ' + calEvent.title);
					// alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
					// alert('View: ' + view.name);

					// change the border color just for fun
					$(this).css('border-color', 'red');
					console.log(calEvent);
					previewEvent(calEvent);
				}
			});
		}

	}

	function editEvent(data) {
		$("input[name=event_id]").val(data.details.id);
		$("input[name=title]").val(data.details.title);
		$("#events-content").summernote('code', data.details.content);
		$("input[name=budget]").val(data.details.budget);
		$("input[name=event_color]").val(data.details.event_color);

		var notif_date = moment(data.details.notif_date).format('YYYY-MM-DD');
		var notif_time = moment(data.details.notif_date).format('HH:mm:ss');
		$("input[name=notif_date]").val(notif_date);
		$("input[name=notif_time]").val(notif_time);

		var start_date = moment(data.details.event_start).format('YYYY-MM-DD');
		var start_time = moment(data.details.event_start).format('HH:mm:ss');
		$("input[name=start_date]").val(start_date);
		$("input[name=start_time]").val(start_time);

		var end_date = moment(data.details.event_end).format('YYYY-MM-DD');
		var end_time = moment(data.details.event_end).format('HH:mm:ss');
		$("input[name=end_date]").val(end_date);
		$("input[name=end_time]").val(end_time);
	}

	function deleteEvent(data) {
		$("input[name=event_id_del]").val(data.details.id);
		$("#modal-event-title-del").html(data.details.title);
		$("#delete-event-modal").modal("show");
	}

	function previewEvent(data) {
		$("#modal-event-title").html(data.details.title);
		$("#modal-event-content").html(data.details.content);

		var start_date = moment(data.details.event_start).format('MMM DD YYYY, h:mm a');
		var end_date = moment(data.details.event_end).format('MMM DD YYYY, h:mm a');
		$("#modal-event-date").html(start_date + " to " + end_date);

		var budget = data.details.budget;
		budget = parseFloat(budget);
		$("#modal-event-budget").html("₱ " + budget.toLocaleString());

		$("#preview-event").modal("show");

		$("#btn-edit-event").click(function() {
			editEvent(data);
			$("#preview-event").modal("hide");
		});

		$("#btn-delete-event").click(function() {
			deleteEvent(data);
			$("#preview-event").modal("hide");
		});
	}

	function resetFields() {
		$("input[name=event_id]").val(null);
		$("#form-events")[0].reset();
		$("#events-content").summernote('code', 'Enter Here...');
		$("#select2-brgy").select2("val", null);
	}
</script>

{% endblock %}