{% extends 'admin/index.twig' %}
{% block body %}

<!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - START -->
<link href="{{baseUrl}}assets/plugins/jquery-ui/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/select2/select2.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/css/jquery.dataTables.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/TableTools/css/dataTables.tableTools.min.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/icheck/skins/all.css" rel="stylesheet" type="text/css" media="screen"/>
<!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - END -->

<!-- BEGIN BODY -->
<body class=" ">
	<!-- START TOPBAR -->

	<!-- HEADER VIEW -->
	{% include 'header.twig' %}

	<!-- START CONTAINER -->
	<div class="page-container row-fluid container-fluid">

		<!-- SIDEBAR VIEW -->
		{% include 'admin/admin_side_panel.twig' %}

		<!-- START CONTENT -->
		<section id="main-content" class=" ">
			<section class="wrapper main-wrapper row" style=''>
				<div class='col-xs-12'>
					<div class="page-title">
						<div class="pull-left">
							<!-- PAGE HEADING TAG - START --><h1 class="title">{{ title }}</h1><!-- PAGE HEADING TAG - END -->
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<!-- MAIN CONTENT AREA STARTS -->

				<div class="col-xs-12">

					{% if flash.message %}
					{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
					<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						{{ flash.message }}
					</div>
					{% endif %}

					<a href="#add-sc-modal" data-toggle="modal" class="btn btn-success btn-sm"> <i class="fa fa-plus"></i> New SC </a>

					<section class="box ">
						<header class="panel_header">
							<h2 class="title pull-left">List of Senior Citizens</h2>
						</header>
						<div class="content-body">
							<table id="tbl-sc" class="display table table-hover table-condensed">
								<thead>
									<tr>
										<th>#</th>
										<th>RF_ID</th>
										<th>First Name</th>
										<th>Middle Name</th>
										<th>Last Name</th>
										<th>Gender</th>
										<th>BirthDay</th>
										<th>Address</th>
										<th>Barangay</th>
										<th>Contact #</th>
										<th>Status</th>
										<th>Date Registered</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									{% for member in members %}
									{% set status = (member.is_deceased == 0) ? "ALIVE" : "DECEASED" %}
									<tr>
										<td>{{ member.id }}</td>
										<td>{{ member.rf_id }}</td>
										<td>{{ member.first_name }}</td>
										<td>{{ member.middle_name }}</td>
										<td>{{ member.last_name }}</td>
										<td>{{ member.gender }}</td>
										<td>{{ member.birthday|date("M d, Y") }}</td>
										<td>{{ member.address }}</td>
										<td>{{ member.barangay_name }}</td>
										<td>{{ member.mobile ~ " | " ~ member.landline }}</td>
										<td>{{ status }}</td>
										<td>{{ member.created_at|date("M d, Y") }}</td>
										<td>
										<div align="center">
											<button type="button" onclick="editSC({{ member }})" class="btn btn-success btn-xs">
												Edit
											</button>
											<button type="button" class="btn btn-danger btn-xs">
												Delete
											</button>
										</div></td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
							<!-- ********************************************** -->
						</div>
					</section>
				</div>

			</section>
		</section>
	</div>
</body>

<!-- modal start -->
<div class="modal fade col-xs-12" id="add-sc-modal" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="modal-title">Add Senior Citizen</h4>
			</div>
			<form method="post" action="{{ urlFor('admin_add_sc_member') }}" id="form-sc">
				<input type="hidden" name="sc_id" />
				<div class="modal-body">

					<div class="form-group">
						<label class="form-label" for="select2-brgy">Select Barangay</label>
						<select class="" id="select2-brgy" name="barangay" required>
							<option></option>
							{% for town in towns %}
							<optgroup label="{{ town.name }}">
								{% for brgy in town.barangays %}
								<option value="{{ brgy.id }}">{{ brgy.name }}</option>
								{% endfor %}
							</optgroup>
							{% endfor %}
						</select>
					</div>

					<div class="form-group">
						<label class="form-label" for="field-1s">RF ID</label>
						<span class="desc">e.g. "01234567"</span>
						<div class="controls">
							<input type="number" name="rf_id" class="form-control" id="field-1s" placeholder="xxxxxxxx" required>
						</div>
					</div>

					<div class="form-group">
						<label class="form-label" for="field-2">First Name</label>
						<span class="desc">e.g. "Michael"</span>
						<div class="controls">
							<input type="text" name="first_name" class="form-control" id="field-2" placeholder="first name" required>
						</div>
					</div>

					<div class="form-group">
						<label class="form-label" for="field-3">Middle Name</label>
						<span class="desc">e.g. "De Jay"</span>
						<div class="controls">
							<input type="text" name="middle_name" class="form-control" id="field-3" placeholder="middle name" required>
						</div>
					</div>

					<div class="form-group">
						<label class="form-label" for="field-4">Last Name</label>
						<span class="desc">e.g. "Angelo"</span>
						<div class="controls">
							<input type="text" name="last_name" class="form-control" id="field-4" placeholder="last name" required>
						</div>
					</div>

					<div class="form-group">
						<label class="form-label">Gender</label>
						<div class="controls">
							<select class="form-control" name="gender">
								<option value="Male">Male</option>
								<option value="Female">Female</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="form-label" for="field-5">Birthday</label>
						<span class="desc">e.g. "01/19/1989"</span>
						<div class="controls">
							<input type="date" name="birthday" class="form-control" id="field-5" required>
						</div>
					</div>

					<div class="form-group">
						<label class="form-label" for="field-6">Address</label>
						<span class="desc">e.g. "San Jose Balanga City Bataan"</span>
						<div class="controls">
							<input type="text" name="address" class="form-control" id="field-6" required>
						</div>
					</div>

					<div class="form-group">
						<label class="form-label" for="field-7">Contact Number</label>
						<span class="desc">e.g. "09991234567"</span>
						<div class="controls">
							<input type="number" name="mobile" class="form-control" id="field-7" required>
						</div>
					</div>
					
					{#
					<div class="form-group">
						<label class="form-label" for="field-8">Landline Number</label>
						<span class="desc">e.g. "02 721 2355"</span>
						<div class="controls">
							<input type="text" name="landline" class="form-control" id="field-8" required>
						</div>
					</div>
					#}

					<div class="form-group" id="deceased-check" style="display: none;">
						<input name="is_deceased" type="checkbox" id="minimal-checkbox-4" class="icheck-minimal-blue">
						<label class="icheck-label form-label" for="minimal-checkbox-4">Deceased ?</label>
						<div class="controls">
							<input type="date" name="date_deceased" class="form-control">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button data-dismiss="modal" class="btn btn-default" type="button">
						Close
					</button>
					<button class="btn btn-success" type="submit">
						Submit
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- modal end -->

<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
<script src="{{baseUrl}}assets/plugins/jquery-ui/smoothness/jquery-ui.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/select2/select2.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

<!-- CORE TEMPLATE JS - START -->
<script src="{{baseUrl}}assets/plugins/autosize/autosize.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/icheck/icheck.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/js/scripts.js" type="text/javascript"></script>

<!-- END CORE TEMPLATE JS - END -->

<script>
	$(document).ready(function() {
		$("#select2-brgy").select2({
			dropdownParent : $("#add-sc-modal")
		});
		$("#tbl-sc").dataTable({
			responsive : true,
			aLengthMenu : [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]]
		});
	});

	function editSC(data) {
		$("#form-sc").trigger("reset");

		$("#modal-title").text("Edit SC Profile");
		$("input[name=rf_id]").val(data.rf_id);
		$("input[name=sc_id]").val(data.id);
		$("input[name=first_name]").val(data.first_name);
		$("input[name=middle_name]").val(data.middle_name);
		$("input[name=last_name]").val(data.last_name);
		$("[name=gender]").val(data.gender).change();
		$("input[name=birthday]").val(data.birthday);
		$("input[name=address]").val(data.address);
		$("input[name=mobile]").val(data.mobile);
		$("input[name=landline]").val(data.landline);
		$("#select2-brgy").select2("val", data.barangay_id);

		$("#deceased-check").show();
		var checkStatus = (data.is_deceased == 1) ? "check" : "uncheck";
		$("input[name=is_deceased]").iCheck(checkStatus);
		$("input[name=date_deceased]").val(data.deceased_date);

		$("#add-sc-modal").modal("show");
		$('#add-sc-modal').on('hidden.bs.modal', function() {
			window.location.reload();
		});
	}
</script>

{% endblock %}