{% extends 'admin/index.twig' %}
{% block body %}

<!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - START -->
<link href="{{baseUrl}}assets/plugins/jquery-ui/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/select2/select2.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/css/jquery.dataTables.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/TableTools/css/dataTables.tableTools.min.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css" media="screen"/>
<!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - END -->

<!-- BEGIN BODY -->
<body class=" ">
	<!-- START TOPBAR -->

	<!-- HEADER VIEW -->
	{% include 'header.twig' %}

	<!-- START CONTAINER -->
	<div class="page-container row-fluid container-fluid">

		<!-- SIDEBAR VIEW -->
		{% include 'admin/admin_side_panel.twig' %}

		<!-- START CONTENT -->
		<section id="main-content" class=" ">
			<section class="wrapper main-wrapper row" style=''>
				<div class='col-xs-12'>
					<div class="page-title">
						<div class="pull-left">
							<!-- PAGE HEADING TAG - START --><h1 class="title">{{ title }}</h1><!-- PAGE HEADING TAG - END -->
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<!-- MAIN CONTENT AREA STARTS -->

				<div class="col-xs-12">
					<section class="box ">
						<header class="panel_header">
							<h2 class="title pull-left" id="add-label">Add New Staff</h2>
						</header>
						<div class="content-body">
							<div class="row">

								{% if flash.message %}
								{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
								<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									{{ flash.message }}
								</div>
								{% endif %}

								<form method="post" action="{{ urlFor('admin_add_staff') }}">
									<input type="hidden" name="user_id" />
									<div class="form-group col-md-6">
										<label class="form-label" for="field-1">Full Name</label>
										<span class="desc">e.g. "Fname Lname"</span>
										<div class="controls">
											<input type="text" name="full_name" class="form-control" id="field-1" required>
										</div>
									</div>

									<div class="form-group col-md-6">
										<label class="form-label" for="field-2">Email Address</label>
										<span class="desc">e.g. "sample@gmail.com"</span>
										<div class="controls">
											<input type="email" name="email" class="form-control" id="field-2" required>
										</div>
									</div>

									<div class="form-group col-md-6">
										<label class="form-label" for="s2example-1">Select Barangay</label>
										<select class="" id="s2example-1" name="barangay" required>
											<option></option>
											{% for town in towns %}
											<optgroup label="{{ town.name }}">
												{% for brgy in town.barangays %}
												<option value="{{ brgy.id }}">{{ brgy.name }}</option>
												{% endfor %}
											</optgroup>
											{% endfor %}
										</select>
									</div>

									<div class="form-group col-md-6">
										<label class="form-label" for="btn-save"></label>
										<div class="controls">
											<button type="submit" class="btn btn-primary" id="btn-save">
												Save
											</button>
											<button type="button" onclick="clearFields()" class="btn btn-default" id="btn-cancel">
												Cancel
											</button>
										</div>
									</div>
								</form>

							</div>
						</div>
					</section>
				</div>

				<div class="col-xs-12">
					<section class="box ">
						<header class="panel_header">
							<h2 class="title pull-left">List of Staff</h2>
						</header>
						<div class="content-body">
							<table id="tbl-staff" class="display table table-hover table-condensed">
								<thead>
									<tr>
										<th>#</th>
										<th>FULL NAME</th>
										<th>USERNAME</th>
										<th>PASSWORD</th>
										<th>EMAIL</th>
										<th>BARANGAY</th>
										<th>TOWN</th>
										<th>CREATED_AT</th>
										<th>ACTION</th>
									</tr>
								</thead>
								<tbody>
									{% for staff in staffs %}
									<tr>
										<td>{{ staff.id }}</td>
										<td>{{ staff.full_name }}</td>
										<td>{{ staff.username }}</td>
										<td>{{ decodeBase64(staff.canonical_hash) }}</td>
										<td>{{ staff.email }}</td>
										<td>{{ staff.brgy_name }}</td>
										<td>{{ staff.town_name }}</td>
										<td>{{ staff.created_at|date("M d, Y") }}</td>
										<td>
										<div align="center">
											<button type="button" onclick="editStaff({{ staff }})" class="btn btn-success btn-xs">
												Edit
											</button>
											<button type="button" class="btn btn-danger btn-xs">
												Delete
											</button>
											{% if (staff.email|length > 0) %}
											<form method="post" action="{{ urlFor('send_to_email') }}" style="display: inline-block;">
												<input type="hidden" name="staff_id" value="{{ staff.id }}"/>
												<button type="submit" class="btn btn-warning btn-xs">
													Send To Email
												</button>
											</form>
											{% endif %}
										</div></td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
							<!-- ********************************************** -->
						</div>
					</section>
				</div>

			</section>
		</section>
	</div>
</body>

<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
<script src="{{baseUrl}}assets/plugins/jquery-ui/smoothness/jquery-ui.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/select2/select2.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

<!-- CORE TEMPLATE JS - START -->
<script src="{{baseUrl}}assets/js/scripts.js" type="text/javascript"></script>
<!-- END CORE TEMPLATE JS - END -->

<script>
	$(document).ready(function() {
		$("#tbl-staff").dataTable({
			responsive : true,
			aLengthMenu : [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]]
		});
	});

	function editStaff(user) {
		$("input[name=user_id]").val(user.id);
		$("#add-label").text("EDIT STAFF");
		$("input[name=full_name]").val(user.full_name);
		$("input[name=email]").val(user.email);
		$("#s2example-1").select2("val", user.brgy_id);
	}

	function clearFields() {
		$("input[name=user_id]").val(null);
		$("#add-label").text("ADD NEW STAFF");
		$("input[name=full_name]").val(null);
		$("input[name=email]").val(null);
		$("#s2example-1").select2("val", null);
	}
</script>

{% endblock %}