body {
	background:#7aadd9;
}
#frm{
	border: solid darkslategray 5px;
	width: 20%;
	border-radius: 20px;
	margin: 100px auto;
	background: white;
	padding: 20px;
}
#btn{
	color: white;
	background: darkslategray;
	
	padding-left: 70px;
	padding-right: 70px;
	
}

#user{
	

}