{% extends 'admin/index.twig' %}
{% block body %}

<!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - START -->
<link href="{{baseUrl}}assets/plugins/jquery-ui/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/select2/select2.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/css/jquery.dataTables.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/TableTools/css/dataTables.tableTools.min.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/icheck/skins/all.css" rel="stylesheet" type="text/css" media="screen"/>
<!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - END -->

<!-- BEGIN BODY -->
<body class=" ">
	<!-- START TOPBAR -->

	<!-- HEADER VIEW -->
	{% include 'header.twig' %}

	<!-- START CONTAINER -->
	<div class="page-container row-fluid container-fluid">

		<!-- SIDEBAR VIEW -->
		{% include 'admin/admin_side_panel.twig' %}

		<!-- START CONTENT -->
		<section id="main-content" class=" ">
			<section class="wrapper main-wrapper row" style=''>
				<div class="col-lg-12">
					<section class="box ">
						<header class="panel_header">
							<h2 class="title pull-left">{{ title }}</h2>
						</header>
						<div class="content-body">
							<div class="row">

								<div class="col-xs-12">

									<div class="form-group col-md-6">
										<label class="form-label" for="s2example-1">Select Barangay</label>
										<select class="" id="s2example-1" name="barangay" required>
											<option></option>
											{% for town in towns %}
											<optgroup label="{{ town.name }}">
												{% for brgy in town.barangays %}
												<option value="{{ brgy.id }}">{{ brgy.name }}</option>
												{% endfor %}
											</optgroup>
											{% endfor %}
										</select>
									</div>

								</div>

								<div class="col-xs-12">
									<section class="box ">
										<header class="panel_header">
											<h2 class="title pull-left">List of Senior Citizens</h2>
										</header>
										<div class="content-body">
											<table id="tbl-members" class="display table table-hover table-condensed">
												<thead>
													<tr>
														<th>#</th>
														<th>RF ID</th>
														<th>First Name</th>
														<th>Middle Name</th>
														<th>Last Name</th>
														<th>Gender</th>
														<th>Birthday</th>
														<th>Address</th>
														<th>Barangay</th>
														<th>CREATED_AT</th>
													</tr>
												</thead>
												<!-- <thead>
												<tr>
												<th></th>
												</tr>
												</thead> -->
											</table>
											<!-- ********************************************** -->
										</div>
									</section>
								</div>
							</div>
						</div>
					</section>
				</div>

			</section>
		</section>
	</div>
</body>

<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
<script src="{{baseUrl}}assets/plugins/jquery-ui/smoothness/jquery-ui.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/select2/select2.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

<script>
	$(document).ready(function() {

		var memberList = $("#tbl-members").dataTable();
		function loadMembers(barangay_id) {
			memberList.fnDestroy();
			memberList = $("#tbl-members").dataTable({
				"responsive" : true,
				"aLengthMenu" : [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
				"processing" : true,
				"serverSide" : true,
				"ajax" : {
					"url" : "{{ urlFor('admin_contribution_member_list') }}",
					"type" : "POST",
					"data" : {
						"barangay_id" : barangay_id
					}
				},
				drawCallback : function(response) {
					// console.log(response);
				}
			});
			if ( typeof memberList === 'undefined') {
				memberList.fnDestroy();
			}
		}


		$("#s2example-1").select2({
			placeholder : 'Choose Barangay...',
			allowClear : true
		}).on('select2-open', function() {
			// Adding Custom Scrollbar
			$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
		}).on('change', function() {
			loadMembers(this.value);
		});
	}); 
</script>

{% endblock %}