{% extends 'admin/index.twig' %}
{% block body %}

<!-- BEGIN BODY -->
<body class=" ">

	<div align="center" style="margin-top: 10%;">

		<table width="600">
			<tbody>
				<tr>
					<td width="631">
					<p style="text-align: center;">
						<strong>Online Senior Citizen Management System</strong>
					</p>
					<p style="text-align: center;">
						<strong>Senior Citizen Contribution Report</strong>
					</p>
					<p style="text-align: center;">
						<strong>OSCA</strong>
					</p>
					<p>
						OR#: <span style="text-decoration: underline; font-weight: bold;">{{ contribution.trans_code }}</span>
					</p>
					<p>
						DATE: <span style="text-decoration: underline; font-weight: bold;">{{ _today }}</span>
					</p>
					<p>
						<strong>ACKNOWLEDGMENT RECEIPT </strong>
					</p>
					<p>
						I <span style="text-decoration: underline; font-weight: bold;">{{ staff.full_name }}</span>, hereby acknowledge that I received the amount <strong>AMOUNT (₱ {{ contribution_amount|number_format(2, '.', ',')  }}) </strong>from&nbsp;<strong><span>{{ contribution.first_name ~ " " ~ contribution.middle_name ~ " " ~ contribution.last_name }}</span></strong>&nbsp; as contribution for the month of&nbsp;<span style="text-decoration: underline; font-weight: bold;">{{ contribution_range }}</span>.
					</p>
					<p>
						&nbsp;
					</p>
					<p>
						&nbsp;
					</p>
					<p>
						<span style="text-decoration: underline; font-weight: bold;">{{ contribution.first_name ~ " " ~ contribution.middle_name ~ " " ~ contribution.last_name }}</span>
					</p>
					<p>
						<strong>Signature over printed name</strong>
					</p>
					<br />
					<br />
					<p>
						<span style="text-decoration: underline; font-weight: bold;">{{ staff.full_name }}</span>
					</p>
					<p>
						<strong> &nbsp;Barangay Staff</strong>
					</p></td>
				</tr>
			</tbody>
		</table>

	</div>

</body>

{% endblock %}