<!DOCTYPE html>
<html class=" ">

	<!-- Mirrored from jaybabani.com/complete-admin/v4.1/preview/fixedmenu/ui-login.html by HTTrack Website Copier/3.x [XR&CO'2013], Tue, 07 Feb 2017 01:04:46 GMT -->
	<head>
		<!--
		* @Package: Complete Admin - Responsive Theme
		* @Subpackage: Bootstrap
		* @Version: 2.2
		* This file is part of Complete Admin Theme.
		-->
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<meta charset="utf-8" />
		<title>OSCA : Login Page</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta content="" name="description" />
		<meta content="" name="author" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<link rel="shortcut icon" href="{{assetUrl}}images/favicon.png" type="image/x-icon" />
		<!-- Favicon -->
		<link rel="apple-touch-icon-precomposed" href="{{assetUrl}}images/apple-touch-icon-57-precomposed.png">
		<!-- For iPhone -->
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{assetUrl}}images/apple-touch-icon-114-precomposed.png">
		<!-- For iPhone 4 Retina display -->
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{assetUrl}}images/apple-touch-icon-72-precomposed.png">
		<!-- For iPad -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{assetUrl}}images/apple-touch-icon-144-precomposed.png">
		<!-- For iPad Retina display -->

		<!-- CORE CSS FRAMEWORK - START -->
		<link href="{{assetUrl}}plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen"/>
		<link href="{{assetUrl}}plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<link href="{{assetUrl}}plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
		<link href="{{assetUrl}}fonts/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
		<link href="{{assetUrl}}css/animate.min.css" rel="stylesheet" type="text/css"/>
		<link href="{{assetUrl}}plugins/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css"/>
		<!-- CORE CSS FRAMEWORK - END -->

		<!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - START -->

		<link href="{{assetUrl}}plugins/icheck/skins/all.css" rel="stylesheet" type="text/css" media="screen"/>

		<!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - END -->

		<!-- CORE CSS TEMPLATE - START -->
		<link href="{{assetUrl}}css/style.css" rel="stylesheet" type="text/css"/>
		<link href="{{assetUrl}}css/responsive.css" rel="stylesheet" type="text/css"/>
		<!-- CORE CSS TEMPLATE - END -->

	</head>
	<!-- END HEAD -->

	<!-- BEGIN BODY -->
	<body class=" login_page">

		<div class="container-fluid">
			<div class="login-wrapper row">
				<div id="login" class="login loginpage col-lg-offset-4 col-md-offset-3 col-sm-offset-3 col-xs-offset-0 col-xs-12 col-sm-6 col-lg-4">
					<h1><a href="#" title="Login Page" tabindex="-1">Login to your account</a></h1>

					<form name="loginform" id="loginform" action="{{ urlFor('do_login') }}" method="post">
						{% if flash.message %}
						{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
						<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							{{ flash.message }}
						</div>
						{% endif %}

						<p>
							<label for="user_login">Username
								<br />
								<input type="text" name="username" id="user_login" class="input" size="20" />
							</label>
						</p>
						<p>
							<label for="user_pass">Password
								<br />
								<input type="password" name="password" id="user_pass" class="input" size="20" />
							</label>
						</p>

						<p class="submit">
							<input type="submit" name="wp-submit" id="wp-submit" class="btn btn-accent btn-block" value="Sign In" />
						</p>
					</form>
					
					{#
					<p id="nav">
						<a class="pull-left" href="#" title="Password Lost and Found">Forgot password?</a>
						<a class="pull-right" href="ui-register.html" title="Sign Up">Sign Up</a>
					</p>
					#}

				</div>
			</div>
		</div>

		<!-- MAIN CONTENT AREA ENDS -->
		<!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

		<!-- CORE JS FRAMEWORK - START -->
		<script src="{{assetUrl}}js/jquery-1.11.2.min.js" type="text/javascript"></script>
		<script src="{{assetUrl}}js/jquery.easing.min.js" type="text/javascript"></script>
		<script src="{{assetUrl}}plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="{{assetUrl}}plugins/pace/pace.min.js" type="text/javascript"></script>
		<script src="{{assetUrl}}plugins/perfect-scrollbar/perfect-scrollbar.min.js" type="text/javascript"></script>
		<script src="{{assetUrl}}plugins/viewport/viewportchecker.js" type="text/javascript"></script>
		<script>
			window.jQuery || document.write('<script src="{{assetUrl}}js/jquery-1.11.2.min.js"><\/script>');
		</script>
		<!-- CORE JS FRAMEWORK - END -->

		<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->

		<!-- CORE TEMPLATE JS - START -->
		<script src="{{assetUrl}}js/scripts.js" type="text/javascript"></script>
		<!-- END CORE TEMPLATE JS - END -->

		<!-- General section box modal start -->
		<div class="modal" id="section-settings" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog animated bounceInDown">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title">Section Settings</h4>
					</div>
					<div class="modal-body">

						Body goes here...

					</div>
					<div class="modal-footer">
						<button data-dismiss="modal" class="btn btn-default" type="button">
							Close
						</button>
						<button class="btn btn-success" type="button">
							Save changes
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- modal end -->
	</body>

	<!-- Mirrored from jaybabani.com/complete-admin/v4.1/preview/fixedmenu/ui-login.html by HTTrack Website Copier/3.x [XR&CO'2013], Tue, 07 Feb 2017 01:04:46 GMT -->
</html>

