<div class="page-sidebar fixedscroll">
	<!-- MAIN MENU - START -->
	<div class="page-sidebar-wrapper" id="main-menu-wrapper">

		<!-- PROFILE AND AVATAR VIEW -->
		{% include 'profile.twig' %}

		<ul class='wraplist'>
			<li class='menusection'>
				Main
			</li>
			<li class="" id="staff_events">
				<a href="/staff/events"> <i class="fa fa-calendar"></i> <span class="title">Events</span> </a>
			</li>
			<li class="" id="staff_contribution">
				<a href="/staff/contribution"> <i class="fa fa-money"></i> <span class="title">Contributions</span> </a>
			</li>
			{#
			<li class="" id="admin_registration">
				<a href="/admin/registration"> <i class="fa fa-plus"></i> <span class="title">Registration</span> 
					<!-- <span class="arrow "></span><span class="label label-accent">3</span>  -->
				</a>
				<ul class="sub-menu" >
					<li>
						<a class="" id="admin_registration_staff" href="#" >Staff</a>
					</li>
					<li>
						<a class="" id="admin_registration_establishment" href="#" >Establishment</a>
					</li>
				</ul>
			</li>
			#}
		</ul>

	</div>
</div>