{% extends 'admin/index.twig' %}
{% block body %}

<!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - START -->
<link href="{{baseUrl}}assets/plugins/jquery-ui/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/select2/select2.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/css/jquery.dataTables.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/TableTools/css/dataTables.tableTools.min.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/icheck/skins/all.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/jquery-ui/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/jvectormap/jquery-jvectormap-2.0.1.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/icheck/skins/minimal/white.css" rel="stylesheet" type="text/css" media="screen"/>
<!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - END -->

<!-- BEGIN BODY -->
<body class=" ">
	<!-- START TOPBAR -->

	<!-- HEADER VIEW -->
	{% include 'header.twig' %}

	<!-- START CONTAINER -->
	<div class="page-container row-fluid container-fluid">

		<!-- SIDEBAR VIEW -->
		{% include 'admin/admin_side_panel.twig' %}

		<!-- START CONTENT -->
		<section id="main-content" class=" ">
			<section class="wrapper main-wrapper row" style=''>
				<div class="col-lg-12">
					<section class="box ">
						<header class="panel_header">
							<h2 class="title pull-left">Senior Citizens</h2>
						</header>
						<div class="content-body">
							<div class="row">

								<div class="col-xs-12">

									<div class="form-group col-md-6">
										<label class="form-label">Select Town</label>
										<select id="select2-town" name="town" required>
											<option></option>
											{% for town in towns %}
											<option value="{{ town.id }}">{{ town.name }}</option>
											{% endfor %}
										</select>
									</div>

									{#
									<div class="form-group col-md-6">
										<label class="form-label">Select Year</label>
										<select class="form-control" name="year" required>
											{% for year in years %}
											<option value="{{ year.year }}">{{ year.year }}</option>
											{% endfor %}
										</select>
									</div>
									#}

								</div>

								<div class="col-xs-12">
									<div id="legendDiv" class="chart-legend"></div>
									<canvas id="sc-members-graph" height="200" width="600"></canvas>
								</div>

								<div class="col-md-6">
									<label class="form-label">Select Barangay</label>
									<select id="select2-barangay" name="barangay" required></select>
								</div>

								<div class="col-xs-12">
									<section class="box ">
										<header class="panel_header">
											<h2 class="title pull-left">List of Senior Citizens</h2>
										</header>
										<div class="content-body">
											<table id="tbl-members" class="display table table-hover table-condensed">
												<thead>
													<tr>
														<th>#</th>
														<th>RF ID</th>
														<th>First Name</th>
														<th>Middle Name</th>
														<th>Last Name</th>
														<th>Gender</th>
														<th>Birthday</th>
														<th>Address</th>
														<th>Barangay</th>
														<th>CREATED_AT</th>
													</tr>
												</thead>
												<!-- <thead>
												<tr>
												<th></th>
												</tr>
												</thead> -->
											</table>
											<!-- ********************************************** -->
										</div>
									</section>
								</div>

							</div>
						</div>
					</section>
				</div>

			</section>
		</section>
	</div>
</body>

<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
<script src="{{baseUrl}}assets/plugins/jquery-ui/smoothness/jquery-ui.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/select2/select2.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/chartjs-chart/Chart.min.js" type="text/javascript"></script>
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

<!-- SC Members Graph -->
<script>
	$(document).ready(function() {
		$("#select2-town").select2({
			placeholder : 'Choose Town...',
			allowClear : true
		}).on('select2-open', function() {
			$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
		}).on('change', function() {
			getSCMembers(this.value);
		});

		$("#select2-barangay").select2({
			placeholder : 'Choose Barangay...',
			allowClear : true
		}).on('select2-open', function() {
			$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
		}).on('change', function() {
			loadMembers(this.value);
		});

		function getSCMembers(town_id) {
			var url = "/admin/dashboard/graph/sc/" + town_id;
			console.log(url);
			$.get(url, function(response) {
				loadSCMembersGraph(response);
				loadBarangayList(response);
			}).fail(function(error) {
				console.log("error", error);
				$('#select2-barangay').select2('val', null);
				$('#select2-barangay').empty();
			});
		}

		function loadBarangayList(data) {
			$('#select2-barangay').select2('val', null);
			$('#select2-barangay').empty();
			if (data !== null) {
				data = JSON.parse(data);
				$('<option></option>').appendTo('#select2-barangay');
				data.forEach(function(item, index) {
					$('<option value=' + item.id + '>' + item.name + '</option>').appendTo('#select2-barangay');
				});
			}
		}

		function loadSCMembersGraph(data) {
			var total = [];
			var barangays = [];

			if (data !== null) {
				data = JSON.parse(data);
				data.forEach(function(item, index) {
					total.push(item.members_count);
					barangays.push(item.name);
				});
			}

			var ChartData = {
				labels : barangays,
				datasets : [{
					label : "Total Senior Citizens",
					fillColor : "rgba(63,81,181,0.5)",
					strokeColor : "rgba(63,81,181,1)",
					pointColor : "rgba(63,81,181,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(63,81,181,1)",
					data : total
				}]
			};

			var ctx = document.getElementById("sc-members-graph").getContext("2d");
			var myLine = new Chart(ctx).Bar(ChartData, {
				responsive : true,
				options : {
					legendTemplate : '<ul>' + '<% for (var i=0; i<datasets.length; i++) { %>' + '<li>' + '<span></span>' + '<% if (datasets[i].label) { %><%= datasets[i].label %><% } %>' + '</li>' + '<% } %>' + '</ul>'
				}
			});
			$("#legendDiv").empty();
			$("#legendDiv").html(myLine.generateLegend());
		}

		var memberList = $("#tbl-members").dataTable();
		function loadMembers(barangay_id) {
			memberList.fnDestroy();
			memberList = $("#tbl-members").dataTable({
				"responsive" : true,
				"aLengthMenu" : [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
				"processing" : true,
				"serverSide" : true,
				"ajax" : {
					"url" : "{{ urlFor('admin_dashboard_memberlist') }}",
					"type" : "POST",
					"data" : {
						"barangay_id" : barangay_id
					}
				},
				drawCallback : function(response) {
					// console.log(response);
				}
			});
			if ( typeof memberList === 'undefined') {
				memberList.fnDestroy();
			}
		}

	}); 
</script>

{% endblock %}