{% extends 'admin/index.twig' %}
{% block body %}

<!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - START -->
<link href="{{baseUrl}}assets/plugins/jquery-ui/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/select2/select2.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/css/jquery.dataTables.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/TableTools/css/dataTables.tableTools.min.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/icheck/skins/all.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/jquery-ui/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/jvectormap/jquery-jvectormap-2.0.1.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/icheck/skins/minimal/white.css" rel="stylesheet" type="text/css" media="screen"/>
<!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - END -->

<!-- BEGIN BODY -->
<body class=" ">
	<!-- START TOPBAR -->

	<!-- HEADER VIEW -->
	{% include 'header.twig' %}

	<!-- START CONTAINER -->
	<div class="page-container row-fluid container-fluid">

		<!-- SIDEBAR VIEW -->
		{% include 'admin/admin_side_panel.twig' %}

		<!-- START CONTENT -->
		<section id="main-content" class=" ">
			<section class="wrapper main-wrapper row" style=''>
				<div class="col-lg-12">
					<section class="box ">
						<header class="panel_header">
							<h2 class="title pull-left">{{ title|raw }}</h2>
						</header>

						<div class="content-body">
							<a href="/admin/dashboard" class="pull-right"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
							<div class="row">

								<div class="col-xs-12">
									<section class="box ">
										<header class="panel_header">
											<h2 class="title pull-left">Contributions</h2>
										</header>
										<div class="content-body">
											<div class="row">
												<div class="form-group col-md-3">
													<label class="form-label">Select Year</label>
													<select class="form-control" name="year" required>
														{% for year in years %}
														<option value="{{ year.year }}">{{ year.year }}</option>
														{% endfor %}
													</select>
												</div>
												<div class="col-xs-12">
													<div id="legendDiv-contributions" class="chart-legend"></div>
													<canvas id="sc-contributions-graph" height="200" width="600"></canvas>
												</div>
												<div class="col-xs-12">
													<table id="tbl-contributions" class="display table table-hover table-condensed">
														<thead>
															<tr>
																<th>#</th>
																<th>Ref. Code</th>
																<th>Amount</th>
																<th>Date/Time</th>
															</tr>
														</thead>
														<tbody>
															{% set total_contribution = 0 %}
															{% for contribution in contributions %}
															<tr>
																<td>{{ contribution.id }}</td>
																<td>{{ contribution.trans_code }}</td>
																<td>₱ {{ contribution.amount|number_format(2, '.', ',') }}</td>
																<td>{{ contribution.created_at|date("M d, Y h:i a") }}</td>
															</tr>
															{% set total_contribution = total_contribution + contribution.amount %}
															{% endfor %}
														</tbody>
														<tfoot>
															<tr>
																<th>Total</th>
																<td></td>
																<th>₱ {{ total_contribution|number_format(2, '.', ',') }}</th>
																<td></td>
															</tr>
														</tfoot>
													</table>
													<!-- ********************************************** -->
												</div>
											</div>
										</div>
									</section>
								</div>

								<div class="col-xs-12">
									<section class="box ">
										<header class="panel_header">
											<h2 class="title pull-left">Purchased Transactions</h2>
										</header>
										<div class="content-body">
											<div class="row">
												<div class="form-group col-md-3">
													<label class="form-label">Select Year</label>
													<select class="form-control" name="year_transaction" required>
														{% for year in years %}
														<option value="{{ year.year }}">{{ year.year }}</option>
														{% endfor %}
													</select>
												</div>
												<div class="col-xs-12">
													<div id="legendDiv-purchased-transactions" class="chart-legend"></div>
													<canvas id="sc-purchased-transactions-graph" height="200" width="600"></canvas>
												</div>
												<div class="col-xs-12">
													<table id="tbl-purchased" class="display table table-hover table-condensed">
														<thead>
															<tr>
																<th>#</th>
																<th>Ref. Code</th>
																<th>Establishment</th>
																<th>Establishment Address</th>
																<th>Total Amount</th>
																<th>Discount</th>
																<th>Discounted Amount</th>
																<th>Date/Time</th>
															</tr>
														</thead>
														<tbody>
															{% set total_amount = 0 %}
															{% set discounted_amount = 0 %}
															{% for transaction in transactions %}
															<tr>
																<td>{{ transaction.id }}</td>
																<td>{{ transaction.trans_code }}</td>
																<td>{{ transaction.name }}</td>
																<td>{{ transaction.address }}</td>
																<td>₱ {{ transaction.total_amount| number_format(2, '.', ',') }}</td>
																<td>{{ transaction.discount }}</td>
																<td>₱ {{ transaction.discounted_amount| number_format(2, '.', ',') }}</td>
																<td>{{ transaction.created_at|date('M d, Y h:i a') }}</td>
															</tr>
															{% set total_amount = total_amount + transaction.total_amount %}
															{% set discounted_amount = discounted_amount + transaction.discounted_amount %}
															{% endfor %}
														</tbody>
														<tfoot>
															<tr>
																<th>Total</th>
																<td></td>
																<td></td>
																<td></td>
																<th>₱ {{ total_amount|number_format(2, '.', ',') }}</th>
																<td></td>
																<th>₱ {{ discounted_amount|number_format(2, '.', ',') }}</th>
																<td></td>
															</tr>
														</tfoot>
													</table>
													<!-- ********************************************** -->
												</div>
											</div>
										</div>
									</section>
								</div>

							</div>
						</div>
					</section>
				</div>

			</section>
		</section>
	</div>
</body>

<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
<script src="{{baseUrl}}assets/plugins/jquery-ui/smoothness/jquery-ui.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/select2/select2.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/chartjs-chart/Chart.min.js" type="text/javascript"></script>
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

<!-- CONTRIBUTIONS SCRIPT -->
<script>
	$("#tbl-contributions").dataTable();

	$("[name=year]").on("change", function() {
		getContributions(this.value);
	}).change();

	function getContributions(year) {
		var url = "/admin/dashboard/graph/contributions/sc/{{ member.id }}/" + year;
		console.log(url);
		$.get(url, function(response) {
			loadContributionsGraph(response);
		}).fail(function(error) {
			console.log("error", error);
		});
	}

	function loadContributionsGraph(data) {
		var months = [];
		var total = [];

		if (data !== null) {
			data = JSON.parse(data);
			data.forEach(function(item, index) {
				months.push(item.month_label);
				total.push(item.total_contributions);
			});
		}

		var ChartData = {
			labels : months,
			datasets : [{
				label : "Total Contributions",
				fillColor : "rgba(152, 226, 66,0.5)",
				strokeColor : "rgba(152, 226, 66,1)",
				pointColor : "rgba(152, 226, 66,1)",
				pointStrokeColor : "#fff",
				pointHighlightFill : "#fff",
				pointHighlightStroke : "rgba(152, 226, 66,1)",
				data : total
			}]
		};

		var ctx = document.getElementById("sc-contributions-graph").getContext("2d");
		var myLine = new Chart(ctx).Line(ChartData, {
			responsive : true,
			options : {
				legendTemplate : '<ul>' + '<% for (var i=0; i<datasets.length; i++) { %>' + '<li>' + '<span></span>' + '<% if (datasets[i].label) { %><%= datasets[i].label %><% } %>' + '</li>' + '<% } %>' + '</ul>'
			}
		});
		$("#legendDiv-contributions").empty();
		$("#legendDiv-contributions").html(myLine.generateLegend());
	}
</script>

<!-- PURCHASED TRANSACTION SCRIPT -->
<script>
	$("#tbl-purchased").dataTable();

	$("[name=year_transaction]").on("change", function() {
		getTransactions(this.value);
	}).change();
	
	function getTransactions(year) {
		var url = "/admin/dashboard/graph/transactions/sc/{{ member.id }}/" + year;
		console.log(url);
		$.get(url, function(response) {
			loadTransactionsGraph(response);
		}).fail(function(error) {
			console.log("error", error);
		});
	}
	
	function loadTransactionsGraph(data) {
		var establishments = [];
		var total = [];

		if (data !== null) {
			data = JSON.parse(data);
			data.forEach(function(item, index) {
				establishments.push(item.name);
				total.push(item.total_amount);
			});
		}

		var ChartData = {
			labels : establishments,
			datasets : [{
				label : "Total Transactions",
				fillColor : "rgba(63,81,181,0.5)",
				strokeColor : "rgba(63,81,181,1)",
				pointColor : "rgba(63,81,181,1)",
				pointStrokeColor : "#fff",
				pointHighlightFill : "#fff",
				pointHighlightStroke : "rgba(63,81,181,1)",
				data : total
			}]
		};

		var ctx = document.getElementById("sc-purchased-transactions-graph").getContext("2d");
		var myLine = new Chart(ctx).Bar(ChartData, {
			responsive : true,
			options : {
				legendTemplate : '<ul>' + '<% for (var i=0; i<datasets.length; i++) { %>' + '<li>' + '<span></span>' + '<% if (datasets[i].label) { %><%= datasets[i].label %><% } %>' + '</li>' + '<% } %>' + '</ul>'
			}
		});
		$("#legendDiv-purchased-transactions").empty();
		$("#legendDiv-purchased-transactions").html(myLine.generateLegend());
	}
</script>

{% endblock %}