{% extends 'establishment/index.twig' %}
{% block body %}

<!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - START -->
<link href="{{baseUrl}}assets/plugins/jquery-ui/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/select2/select2.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/css/jquery.dataTables.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/TableTools/css/dataTables.tableTools.min.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css" media="screen"/>
<!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - END -->

<!-- BEGIN BODY -->
<body class=" ">
	<!-- START TOPBAR -->

	<!-- HEADER VIEW -->
	{% include 'header.twig' %}

	<!-- START CONTAINER -->
	<div class="page-container row-fluid container-fluid">

		<!-- SIDEBAR VIEW -->
		{% include 'establishment/establishment_side_panel.twig' %}

		<!-- START CONTENT -->
		<section id="main-content" class=" ">
			<section class="wrapper main-wrapper row" style=''>
				<div class='col-xs-12'>
					<div class="page-title">
						<div class="pull-left">
							<!-- PAGE HEADING TAG - START --><h1 class="title">{{ title|raw }}</h1><!-- PAGE HEADING TAG - END -->
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<!-- MAIN CONTENT AREA STARTS -->

				<div class="col-xs-12">

					{% if flash.message %}
					{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
					<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						{{ flash.message }}
					</div>
					{% endif %}

					<section class="box ">
						<header class="panel_header">
							<h2 class="title pull-left">DETAILS</h2>
						</header>
						<div class="content-body">
							<div class="row">
								<form method="post" action="{{ urlFor('save_transaction') }}" id="form-transaction">
									<input type="hidden" name="trans_code" value="{{ trans_code }}" />
									<input type="hidden" name="sc_id" value="{{ sc_id }}" />
									<div class="form-group col-md-12">
										<label class="form-label" for="field-3s">Total Amount</label>
										<input type="hidden" name="total_sum" />
										<div class="controls">
											<input type="text" name="total_sum_display" class="form-control" id="field-3s" disabled>
										</div>
									</div>
									<div class="form-group col-md-12">
										<label class="form-label" for="field-4s">Total Discounted Amount</label>
										<input type="hidden" name="total_discount" />
										<div class="controls">
											<input type="text" name="total_discount_display" class="form-control" id="field-4s" disabled>
										</div>
									</div>
								</form>
								<div class="form-group col-md-12">
									<div class="controls">
										<a href="#confirm-modal" data-toggle="modal" class="btn btn-success btn-sm"> <i class="fa fa-floppy-o"></i> Submit </a>
										<a href="/establishment/transaction/list/sc/{{ sc_id }}" class="btn btn-danger btn-sm"> <i class="fa fa-close"></i> Cancel </a>
									</div>
								</div>
							</div>
						</div>
					</section>

					<section class="box ">
						<a href="#add-item-modal" data-toggle="modal" class="btn btn-success btn-sm"> <i class="fa fa-plus"></i> Add Item </a>
						<header class="panel_header">
							<h2 class="title pull-left">TRANSACTION BOOKLET</h2>
						</header>
						<div class="content-body">
							<table id="tbl-booklet" class="display table table-hover table-condensed">
								<thead>
									<tr>
										<th>#</th>
										<th>Commodities</th>
										<th>Item Name</th>
										<th>Item Description</th>
										<th>Quantity</th>
										<th>Total Amount</th>
										<th>Discount</th>
										<th>Total Discounted Amount</th>
										<th>Action</th>
									</tr>
								</thead>
							</table>
							<!-- ********************************************** -->
						</div>
					</section>
				</div>

			</section>
		</section>
	</div>
</body>

<!-- modal start -->
<div class="modal fade col-xs-12" id="confirm-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title">{{ title|raw }}</h4>
			</div>
			<div class="modal-body">

				Are you sure do you want to submit this transaction record?

			</div>
			<div class="modal-footer">
				<button data-dismiss="modal" class="btn btn-default" type="button">
					Close
				</button>
				<button class="btn btn-warning" type="button" onclick="onSubmitTransaction()">
					Confirm
				</button>
			</div>
		</div>
	</div>
</div>
<!-- modal end -->

<!-- modal start -->
<div class="modal fade col-xs-12" id="add-item-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="modal-title">Add New Item</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label class="form-label" for="field-3">Search Items</label>
					<select name="item_list" id="item-list" class="">
						<option></option>
						{% for product in products %}
						<option value="{{ product }}">{{ product.ref_code }} | {{ product.item_name }} - {{ product.item_description }} | {{ product.srp|number_format(2, '.', ',') }}</option>
						{% endfor %}
					</select>
				</div>

				<input type="hidden" name="commodities" />
				<input type="hidden" name="item_name" />
				<input type="hidden" name="item_desc" />
				<input type="hidden" name="item_srp" />
				<input type="hidden" name="item_type" />

				<div class="form-group">
					<label class="form-label" for="field-4">Quantity</label>
					<span class="desc">e.g. "1"</span>
					<div class="controls">
						<input type="number" step="0.1" min="1" max="10000" name="quantity" class="form-control" id="field-4" value="1" required>
					</div>
				</div>

				<div class="form-group">
					<label class="form-label" for="field-2s">Discount</label>
					<span class="desc"> (percent %)</span>
					<div class="controls">
						<input type="number" min="0" max="100" value="0" name="discount" class="form-control" id="field-2s" disabled>
					</div>
				</div>

				<div class="form-group">
					<label class="form-label" for="field-5">Total Amount</label>
					<div class="controls">
						<input type="number" step="0.1" min="1" max="10000" name="total_amount" class="form-control" id="field-5" value="0" disabled>
					</div>
				</div>
				
				<div class="form-group">
					<label class="form-label" for="field-7">Total Discounted Amount</label>
					<div class="controls">
						<input type="number" step="0.1" min="1" max="10000" name="discounted_amount" class="form-control" id="field-7" value="0" disabled>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button data-dismiss="modal" class="btn btn-default" type="button">
					Close
				</button>
				<button class="btn btn-success" type="submit" onclick="onItemSet()">
					Submit
				</button>
			</div>
		</div>
	</div>
</div>
<!-- modal end -->

<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
<script src="{{baseUrl}}assets/plugins/jquery-ui/smoothness/jquery-ui.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/select2/select2.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

<script src="{{baseUrl}}assets/js/booklet.js" type="text/javascript"></script>

<script>
	$("#item-list").select2({
		placeholder : 'Choose Item...',
		allowClear : true
	}).on('select2-open', function() {
		// Adding Custom Scrollbar
		$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
	}).on('change', function() {
		var product = JSON.parse(this.value);
		console.log(product);
		$("input[name=item_type]").val(product.item_type);
		$("input[name=item_name]").val(product.item_name);
		$("input[name=item_desc]").val(product.item_description);
		$("input[name=item_srp]").val(product.srp);
		
		var comm = "Others";
		if (product.item_type == 1) {
			comm = "Prime/Basic Commodities";
		} else if (product.item_type == 2) {
			comm = "Medicine";
		}
		$("input[name=commodities]").val(comm);

		var qty = $("input[name=quantity]").val();
		var total_amount = product.srp * qty;
		$("input[name=total_amount]").val(total_amount);
		
		setItemDiscount();
	}); 
</script>

{% endblock %}