{% extends 'establishment/index.twig' %}
{% block body %}

<!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - START -->
<link href="{{baseUrl}}assets/plugins/jquery-ui/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/select2/select2.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/css/jquery.dataTables.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/TableTools/css/dataTables.tableTools.min.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css" media="screen"/>
<!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - END -->

<!-- BEGIN BODY -->
<body class=" ">
	<!-- START TOPBAR -->

	<!-- HEADER VIEW -->
	{% include 'header.twig' %}

	<!-- START CONTAINER -->
	<div class="page-container row-fluid container-fluid">

		<!-- SIDEBAR VIEW -->
		{% include 'establishment/establishment_side_panel.twig' %}

		<!-- START CONTENT -->
		<section id="main-content" class=" ">
			<section class="wrapper main-wrapper row" style=''>
				<div class="col-lg-12">
					<section class="box ">
						<header class="panel_header">
							<h2 class="title pull-left">{{ title }}</h2>
							<a href="/establishment/transaction" class="title pull-right"><i class="fa fa-backward" aria-hidden="true"></i> Back To Main</a>
						</header>

						<div class="content-body">
							<div class="row">
								<div class="col-xs-12">

									{% if flash.message %}
									{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
									<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
										{{ flash.message }}
									</div>
									{% endif %}

									<a href="/establishment/transaction/new/sc/{{ sc_id }}" class="btn btn-success btn-sm"> <i class="fa fa-plus"></i> New Transaction</a>

									<div class="content-body">
										<table id="tbl-transactions" class="display table table-hover table-condensed">
											<thead>
												<tr>
													<th>#</th>
													<th>Member Name</th>
													<th>Total Amount</th>
													{#
													<th>Discount</th>
													<th>Discounted Amount</th>
													#}
													<th>Date/Time</th>
												</tr>
											</thead>
											<tbody>
												{% for transaction in transactions %}

												<tr>
													<td><a href="/establishment/transaction/view/transcode/{{ transaction.trans_code }}/{{ sc_id }}" title="View Transaction">{{ transaction.trans_code }}</a></td>
													<td>{{ transaction.first_name }}</td>
													<td>₱ {{ transaction.total_amount| number_format(2, '.', ',') }}</td>
													{#
													<td>{{ transaction.discount }}</td>
													<td>₱ {{ transaction.discounted_amount| number_format(2, '.', ',') }}</td>
													#}
													<td>{{ transaction.created_at|date('M d, Y h:i a') }}</td>
												</tr>

												{% endfor %}
											</tbody>
										</table>
										<!-- ********************************************** -->
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>

			</section>
		</section>
	</div>
</body>

<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
<script src="{{baseUrl}}assets/plugins/jquery-ui/smoothness/jquery-ui.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/select2/select2.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>
<script src="{{baseUrl}}assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

<script>
	$(document).ready(function() {
		var transactions = $("#tbl-transactions").dataTable();
	}); 
</script>

{% endblock %}