<div class="page-sidebar fixedscroll">
	<!-- MAIN MENU - START -->
	<div class="page-sidebar-wrapper" id="main-menu-wrapper">

		<!-- PROFILE AND AVATAR VIEW -->
		{% include 'profile.twig' %}

		<ul class='wraplist'>
			<li class='menusection'>
				Main
			</li>
			<li class="" id="admin_dashboard">
				<a href="/admin/dashboard"> <i class="fa fa-dashboard"></i> <span class="title">Dashboard</span> </a>
			</li>
			<li class="" id="admin_registration">
				<a href="/admin/registration/staff/view"> <i class="fa fa-plus"></i> <span class="title">Registration</span> 
					<!-- <span class="arrow "></span><span class="label label-accent">3</span>  -->
				</a>
				<ul class="sub-menu" >
					<li>
						<a class="" id="admin_registration_staff" href="/admin/registration/staff/view" >Staff</a>
					</li>
					<li>
						<a class="" id="admin_registration_establishment" href="/admin/registration/establishment/view" >Establishment</a>
					</li>
					<li>
						<a class="" id="admin_registration_sc" href="/admin/registration/sc/view" >Senior Citizen</a>
					</li>
				</ul>
			</li>
			<li class="" id="admin_management">
				<a href="/admin/management/view/establishment"> <i class="fa fa-th-list"></i> <span class="title">Management</span> 
					<!-- <span class="arrow "></span><span class="label label-accent">3</span>  -->
				</a>
				<ul class="sub-menu" >
					<li>
						<a class="" id="admin_manage_establishment" href="/admin/management/view/establishment" >Establishment</a>
					</li>
					<li>
						<a class="" id="admin_manage_barangay" href="/admin/management/view/barangay" >Barangay</a>
					</li>
				</ul>
			</li>
			<li class="" id="admin_mortality">
				<a href="/admin/mortality"> <i class="fa fa-line-chart"></i> <span class="title">Mortality Rate</span> </a>
			</li>
			<li class="" id="admin_events">
				<a href="/admin/events"> <i class="fa fa-calendar"></i> <span class="title">Events</span> </a>
			</li>
			<li class="" id="admin_contribution">
				<a href="/admin/contribution"> <i class="fa fa-money"></i> <span class="title">Contributions</span> </a>
			</li>
		</ul>
		
	</div>
</div>