<!DOCTYPE html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta charset="utf-8" />
	<title>OSCA : {{ title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<link rel="shortcut icon" href="{{assetUrl}}images/favicon.png" type="image/x-icon" />
	<!-- Favicon -->
	<link rel="apple-touch-icon-precomposed" href="{{assetUrl}}images/apple-touch-icon-57-precomposed.png">
	<!-- For iPhone -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{assetUrl}}images/apple-touch-icon-114-precomposed.png">
	<!-- For iPhone 4 Retina display -->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{assetUrl}}images/apple-touch-icon-72-precomposed.png">
	<!-- For iPad -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{assetUrl}}images/apple-touch-icon-144-precomposed.png">
	<!-- For iPad Retina display -->

	<!-- CORE CSS FRAMEWORK - START -->
	<link href="{{assetUrl}}plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen"/>
	<link href="{{assetUrl}}plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="{{assetUrl}}plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link href="{{assetUrl}}css/animate.min.css" rel="stylesheet" type="text/css"/>
	<link href="{{assetUrl}}plugins/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css"/>
	<!-- CORE CSS FRAMEWORK - END -->

	<!-- CORE CSS TEMPLATE - START -->
	<link href="{{assetUrl}}css/style.css" rel="stylesheet" type="text/css"/>
	<link href="{{assetUrl}}css/responsive.css" rel="stylesheet" type="text/css"/>
	<!-- CORE CSS TEMPLATE - END -->
</head>
<body>
	<!-- CORE JS FRAMEWORK - START -->
	<script src="{{assetUrl}}js/jquery-1.11.2.min.js" type="text/javascript"></script>
	<script src="{{assetUrl}}js/jquery.easing.min.js" type="text/javascript"></script>
	<script src="{{assetUrl}}plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="{{assetUrl}}plugins/pace/pace.min.js" type="text/javascript"></script>
	<script src="{{assetUrl}}plugins/perfect-scrollbar/perfect-scrollbar.min.js" type="text/javascript"></script>
	<script src="{{assetUrl}}plugins/viewport/viewportchecker.js" type="text/javascript"></script>
	<script>
		window.jQuery || document.write('<script src="{{assetUrl}}js/jquery-1.11.2.min.js"><\/script>');
	</script>
	<!-- CORE JS FRAMEWORK - END -->

	<!-- CORE TEMPLATE JS - START -->
	<script src="{{assetUrl}}js/scripts.js" type="text/javascript"></script>
	<!-- END CORE TEMPLATE JS - END -->
	
	{% block body %}{% endblock %}

	<script>
		$("#{{active_menu}}").addClass("open");
		$("#{{sub_active_menu}}").addClass("active");
	</script>
</body>
</html>